@model RealEstateManagement.Models.Property

@{
    ViewData["Title"] = "Property Details";
}

<h2>Property Details</h2>

<div>
    <h4>Address: @Model.Address</h4>
    <h4>City: @Model.City</h4>
    <h4>State: @Model.State</h4>
    <h4>Zip Code: @Model.ZipCode</h4>
    <h4>Price: @Model.Price</h4>
    <h4>Description: @Model.Description</h4>
</div>
