@model IEnumerable<RealEstateManagement.Models.ApplicationUser>

@{
    ViewData["Title"] = "Manage Users";
}

<h2>Manage Users</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => user.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => user.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => user.Email)
                </td>
                <td>
                    <form asp-action="AssignRole" asp-route-userId="@user.Id" method="post">
                        <select name="roleName">
                            <option value="">Select Role</option>
                            <option value="Admin">Admin</option>
                            <option value="User">User</option>
                        </select>
                        <button type="submit" class="btn btn-primary">Assign Role</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
